<!DOCTYPE html>
<html>
    <head>
        <title>Bar Menu!</title>
    </head>
    <body>
        <h1>Our Menu!</h1>
        <ul>
          <li>Chicken Wings</li>
          <li>Nacho Chips</li>
          <li>Pizza</li>
        </ul>
    </body>
</html>
