<!DOCTYPE html>
<html>
    <head>
        <title>Tournament Dates</title>
    </head>
    <body>
        <h1>Our upcoming tournaments</h1>
        <ul>
          <li>August/15/2017</li>
          <li>September/9/2017</li>
          <li>Jan/21/2018</li>
        </ul>
    </body>
</html>
