<!DOCTYPE html>

	<head>
		<title>Hours</title>
	</head>
	<body>
		<h1>Hours:</h1>
		<h2>Monday: CLOSED</h2>
		<h2>Tuesday: 12pm-2am</h2>
		<h2>Wednesday: 12pm-2am</h2>
		<h2>Thursday: 12pm-2am</h2>
		<h2>Friday: 12pm-2am</h2>
		<h2>Saturday: 12pm-2am</h2>
		<h2>Sunday: 12pm-12am</h2>
	</body>

</html>