

<!-- <<<<<<< HEAD -->

<!DOCTYPE html>
<html>
    <head>
      <h1>Buster's Best Bowling Alley</h1>
      <h2>Bet You Can't Bowl A Strike Every Time</h2>
    </head>
    <body>
        <p>97 Bowling Alley Lane, Boulder CO </p>
    </body>
</html>
<!-- ======= -->
<h1>Buster's Best Bowling Alley</h1>
<h2>Bet You Can't Bowl A Strike Every Time</h2>
<% answer = 2*3%>
<%= "I love to eat " + answer.to_s + " mangoes daily!!"%>

<ul>
  <% squares = [2,4,9,16] %>
  <% squares.each do |square|%>
    <li><%= "I eat mangoes " + square.to_s + " times a day!" %></li>
  <% end %>
</ul>
<!-- >>>>>>> d42260a45e4338e299f50d874965682e271b17c6 -->
