<!DOCTYPE html>
<html>
    <head>
        <title>General Information</title>
    </head>
    <body>
        <h1> Buster's Best Bowling Alley</h1>
        <h2> Bet You Can't Bowl A Strike Every Time</h2>
        <h4>Hours:</h4>
        <ul>
            <li>M, T, Th, Fri: 9am -2am</li>
            <li>Wednesday: 9am - midngiht</li>
            <li>Saturday: 9am - 3am</li>
            <li>Sunday: 9am - midnight</li>
        </ul>

        <h4>Tournaments</h4>
        <ul>
            <li>Every 2nd Sunday of each month.</li>
            <li>Registration between 10:00 am & 10:30 am, bown at 11:00 am</li>
            <li>Entry fee is $35</li>
            <li><a href="#">Book Online</a></li>
        </ul>

        <h4>Address</h4>
        <p> 97 Bowling Alley Lane, Boulder CO </p>
        
    </body>
</html>