<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Sinatra MVC Test</title>
    </head>
    <body>
    <header>
        <h1>Buster's Best Bowling Alley</h1>
        <h2>Bet You Can't Bowl A Strike Every Time</h2>
    </header>

    <div class="contact-info">
        <address>
            <p>97 Bowling Alley Lane, Boulder CO </p>
        </address>
    </div> <!-- close .contact-info -->
    </body>
</html>