<!DOCTYPE html>
<html>
    <head>
      <title><%= "Buster's Best " + "Bowling Alley" %></title>
      <style>
        body {background-color:#ffffff;background-image:url(https://images5.alphacoders.com/380/thumb-1920-380057.jpg); background-repeat:repeat-y; background-position:top left; background-attachment:scroll; margin: 0;}
        h1 {text-align: center;font-size: 5em;color: #ffffff;text-shadow: 0 0 50px #FF0000;margin-bottom: 0;}
        h2 {text-align: center;font-size: 2em;color: #ffffff;margin: 0;}
        p {text-align: center;font-family: Georgia, serif;font-size: 33px;font-style: italic;font-weight: normal;color: #ffffff;background-color: rgba(27, 23, 23, 0.92);padding: 18px;}
      </style>
    </head>
    <body>
      <h1> Buster's Best Bowling Alley</h1>
      <h2> Bet You Can't Bowl A Strike Every Time</h2>
      <p> 97 Bowling Alley Lane, Boulder CO </p>
    </body>
</html>
