<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Buster's Best Bowling Alley</title>
  <style type="text/css">
    body {text-align:center, font-family:helvetica,arial;font-size:22px; color:#888;margin20px;}
  </style>
</head>
<body>
  <h1> Buster's Best Bowling Alley</h1>
  <h2> Bet You Can't Bowl A Strike Every Time</h2>
    <p> 97 Bowling Alley Lane, Boulder CO </p>
</body>
</html>
