<!-- GET '/'
    returns a 200 status code (FAILED - 1)
    renders index.erb (FAILED - 2)
    displays the name of the bowling alley in an h1 tag (FAILED - 3)
    displays the bowling alley tagline in an h2 (FAILED - 4)
    displays the bowling alley address in a p tag (FAILED - 5)
 -->

<!DOCTYPE html>
<html>
    <head>
        <title>Basic Views</title>
    </head>
    <body>
        <h1> Buster's Best Bowling Alley</h1>
        <h2> Bet You Can't Bowl A Strike Every Time</h2>
        <p> 97 Bowling Alley Lane, Boulder CO </p>
    </body>
</html>