<html>
    <head>
        <title>My Favorite Bowling Alley</title>
    </head>
    <body>
        <h1> Buster's Best Bowling Alley</h1>
        <h2> Bet You Can't Bowl A Strike Every Time</h2>
        <p>We offer group discounts to homosexuals, furries, the Top 1%, and Nigerian Refugees. White men not welcome.</p>
        <br>
        <p> 97 Bowling Alley Lane, Boulder CO </p>
    </body>
</html>
