<!DOCTYPE html>
<html>
    <head>
    <h1> Buster's Best Bowling Alley</h1>
        <title>My First View!!</title>
        <h2> Bet You Can't Bowl A Strike Every Time</h2>
        <p> 97 Bowling Alley Lane, Boulder CO </p>
        </head>
    <body>
        
        <p>This HTML code is inside of a '.erb' file in the views directory, where it belongs.</p>
    </body>
</html>