<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1> Buster's Best Bowling Alley</h1>
        <h2> Bet You Can't Bowl A Strike Every Time</h2>
        <h2>Address:</h2>
            <p> 97 Bowling Alley Lane, Boulder CO </p>
        <h2>Opening Hours:</h2>
            <p>Mon - Fri : 9AM - 9PM</p>
            <p>Sat, Sun : 9AM - 12AM</p>
            <p>Closed on PH</p>
        <h2>Tournament Dates</h2>
            <p>25th July: Junior Championship</p>
            <p>3rd August: Division 'B' Bowling Match</p>
</body>
</html>