
<!doctype html>
<html>
  <head>
      <title>Buster's Best Bowling Alley</title>
      <meta charset="utf-8" />
      <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <div>
        <h1> Buster's Best Bowling Alley</h1>
        <h2> Bet You Can't Bowl A Strike Every Time</h2>
        <p> 97 Bowling Alley Lane, Boulder CO </p>
    </div>
  </body>
</html>
