<!DOCTYPE html>
<html>
 <head>
   <h1> Buster's Best Bowling Alley</h1>
   <h2> Bet You Can't Bowl A Strike Every Time</h2>
  <style type="text/css">
  </style>
 </head>
   <body>
     <h2>Sinatra doesn’t know this ditty.</h2>
     <img src='http://example.org/__sinatra__/404.png'>
     <p> 97 Bowling Alley Lane, Boulder CO </p>
     <div id="c">
      "Hello World"
     </div>
 </body>
</html>
