<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Buster's Best Bowling Alley</h1>
    <h2>Bet You Can't Bowl A Strike Every Time</h2>

    <h3>Hours</h3>
    <ol>
      <li>Monday 2PM-11PM</li>
      <li>Tuesday 2PM-11PM</li>
      <li>Wednesday 2PM-11PM</li>
      <li>Thursday 2PM-11PM</li>
      <li>Friday 2PM-12AM</li>
      <li>Saturday 12PM-12AM</li>
      <li>Sunday 2PM-10PM</li>
    </ol>

    <p>97 Bowling Alley Lane, Boulder CO </p>
  </body>
</html>
