<!DOCTYPE html>
<html>
    <head>
        <title>Timberlane, classic old school bowling alley.</title>
    </head>
    <body>
        <h1> Buster's Best Bowling Alley</h1>
        <h2> Bet You Can't Bowl A Strike Every Time</h2>
        <p> 97 Bowling Alley Lane, Boulder CO </p>
        <h3>Hours</h3>
        <ul>
          <li>Monday 11 AM - 2 AM</li>
          <li>Tuesday 11 AM - 2 AM</li>
          <li>Wednesday 11 AM - 2 AM</li>
          <li>Thursday 11 AM - 2 AM</li>
          <li>Friday 11 AM - 2 AM</li>
          <li>Saturday 9 AM - 3 AM</li>
          <li>Sunday 10 AM - 2 AM</li>
        </ul>
    </body>
</html>
