<!DOCTYPE html>
<html>
    <head>
        <title>regular hours</title>
    </head>
    <body>
        <h1>Hours of Operation</h1>
        <ul>
          <li>Mon - Fri : 10am - 10pm</li>
          <li>Sat - Sun : 12am - 10pm</li>
        </ul>
    </body>
</html>
